DATABASE_URL="postgresql://<user>:<password>@localhost:5432/jaspeart_ecommerce?schema=public"
DW_DATABASE_URL="postgresql://<user>:<password>@localhost:5432/jaspeart"
ECOMMERCE_DATABASE_URL="postgresql://<user>:<password>@localhost:5432/jaspeart_ecommerce"
