# VS Code
.vscode/

# Node.js
node_modules/
generated/
.next/

# Python
__pycache__/
*.egg-info/

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
~$*
~*.*
